<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ .Page.Title }}</title>
  </head>
  <body>

    <header>

    <h1>{{ .Page.Title }}</h1>
    <h2>{{ .Page.Params.description }}</h2>
        </header>

        {{ partial "navigation.html" . }}

        <main>
          {{ .Content }}
        </main>

      <footer>
        &copy; Onni Eriksson 2021
      </footer>
  </body>

</html>
