<nav>
  <ul>
    <li><a href="{{ .Site.BaseURL }}">Home</a></li>
    <li><a href="{{ .Site.BaseURL }}about">About me</a></li>
    <li><a href="{{ .Site.BaseURL }}final">Final project</a></li>
    <li>Assignments</a>
    <ul>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-01">Week 01: Project Management</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-02">Week 02: Principles and Practices</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-03">Week 03: Computer-Aided design</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-04">Week 04: Computer-Controlled Cutting</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-05">Week 05: Electronics Production</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-06">Week 06: 3D Scanning and Printing</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-07">Week 07: Electronics Design</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-08">Week 08: Computer-Controller Machining</a>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-08-group">Week 08: Group assignment</a></li>
      </li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-09">Week 09: Embedded programming</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-10">Week 10: Machine Building</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-11">Week 11: Input Devices</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-12">Week 12: Molding and casting</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-13">Week 13: Output Devices</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-14">Week 14: Networking and Communications</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-15">Week 15: Interface and Application Programming</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-16">Week 16: Wildcard week</a></li>
      <li><a href="{{ .Site.BaseURL }}assignments/assignment-17">Week 17: Applications and Implications</a></li>
      <li><a href="{{ .Site.BaseURL }}presentation.mp4">Final presentation</a></li>
    </ul>
  </li>
  <li><a href="https://www.onni-innovations.com/">ONNI-INNOvations</a></li>
  </ul>
</nav>
