<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ .Site.Title }}</title>
  </head>
  <body>

    <header>

    <h1>{{ .Site.Title }}</h1>
    <h2>{{ .Site.Params.description }}</h2>
        </header>

        {{ partial "navigation.html" . }}

        <main>
          <h4>This is my website which I will update during the course</h4w>
          <table>
            <tr>
              <td>
                <img src="printteri.jpg" alt="Temporary Image" width="250" height="300">
                <p>Fixing a prusa mk3s</p>
              </td>
            </tr>
          </table>
        </main>

      <footer>
        &copy; Onni Eriksson 2021
      </footer>
  </body>

</html>
